*, *::after, *:before{
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 21%, 14%);
    background-color: hsl(30, 38%, 92%);
    font-family: Montserrat;
    color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-position: center top;
}

.card{
    background-color: white;
    max-width: 375px;
    border-radius: 1em;
}
.image{
    height: 300px;
    background-image: url('../images/image-product-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.flex-column{
    width: 100%;
}
.wrapper{
    width:85%;
    margin: 1em auto;
}
h2{
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    letter-spacing: .4em;
    font-size: 1rem;
    margin: 1em 0;
}
h1{
    font-family: Fraunces;
}
p{
    margin: 1em 0;
}
.prices{
    font-family: Fraunces;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5em 0;
}
.price{
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
}
.old-price{
    text-decoration-line: line-through;
    margin-left: 2em;
    color: hsl(228, 12%, 48%);
}
.button-cart{
    border: none;
    width: 100%;
    padding: 1em;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 1em;
    margin: 1em 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-cart:hover{
    background-color: hsl(159, 36%, 25%);
}
.button-cart >img{
    margin-right: 1em;
}

@media (width >= 675px){
    .card{
        max-width: 650px;
    }
    h1{
        font-size: 2.3rem;
    }
    h2{
        margin-top: 2em;
    }
    .background-image{
        background-image: url('../assets/images/background-pattern-desktop.svg');
    }
    .card{
        display: flex;
    }
    .image{  
        background-image: url('../images/image-product-desktop.jpg');
        border-bottom-left-radius: 1em;
        border-top-right-radius: 0em;
        height: auto;
    }
}
