*, *::after, *:before{
    margin:0;
    box-sizing: border-box;
}
 
body{
    background-color: hsl(212, 21%, 14%);
    background-color: hsl(30, 38%, 92%);
    font-family: WorkSans;
    color: hsl(292, 42%, 34%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-position: center top;
}

.card{
    background-color: white;
    width: 375px;
    border-radius: 1em;
}
img{
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.wrapper{
    width:85%;
    margin: 1em auto;
}

.old-price{
    text-decoration-line: line-through;
}


@media (width >= 475px){
    .background-image{
        background-image: url('../assets/images/background-pattern-desktop.svg');
    }
}